// Specific CSS for your home-page
body {
  color: black;
  font-family: ‘Cabin’, sans-serif;
  background-color: #F7F7F7;
  text-align: center;
}

.home {
  // background-image: asset-url('homePageImage.jpg');
  color: white;
  display: flex;
  background-image: linear-gradient(45deg, rgba(0,0,5,0.5) 0%, rgba(0,0,5,0.5) 100%), url('homePageImage.jpg');
  height: 100vh;
  background-size: cover;
  // margin-top: -108px;
}

.form {
  display: inline;
}

.select_tag {
  color: black
}

.home-btn {
  color: black
}

.home_content {
position: absolute;
top: 15%;
right: 20%;
left: 20%;
align-items: center;
}

.container {
  margin-top: 38px;
}

p {
  font-weight: lighter;
}

.show-container {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  position: relative;
}

.show-description {
  flex: 1 1 40%;
  margin-right: 23px;
  background-color: #eae8e8;
}

.show-image {
 flex: 1 1 60%;
 background-size: cover;
 height: 70vh;
}

.show-icon {
  position: absolute;
  right: 45px;
  top: 27px;
  font-size: 23px;
  color: #FFFFFF;
}

.quote {
  height: 300px;
}

.quote p {
  line-height: 300px;
  font-family: ‘Rock Salt’, cursive;
  font-size: 35px;
}
