// Specific CSS for your home-page
body {
  color: black;
  font-family: 'Oswald', sans-serif;
  background-color: #F7F7F7;
  text-align: center;
}

a {
  text-decoration: none;
}

.home {
  // background-image: asset-url('homePageImage.jpg');
  color: white;
  display: flex;
  background: linear-gradient(45deg, rgba(0,0,5,0.5) 0%, rgba(0,0,5,0.5) 100% );
  height: 100vh;
  background-size: cover;
  flex-direction: column;
  // margin-top: -108px;
}
.img-background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: -1px;
  z-index: -1;
  top: 0;
  left: 0;

}
.hover {
  background: rgba(0,0,0,0.3);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

#home-header {
 font-size: 87px;
}

#home-paragraph {
  font-size: 26px;
  letter-spacing: 1px;
  line-height: initial;
}

.home-form {
  display: inline;
  margin: 200px;
}

.home-button {
  margin-top: 20px;
}

.select_tag {
  color: black;
  padding-bottom: 5px;
}

.home-btn {
  color: black
}

.index-form-element {
  display: inline;
  padding: 20px;
}

.home_content {
position: absolute;
top: 20%;
right: 20%;
left: 20%;
align-items: center;
}

.home_content p {
margin-bottom: 40px;
font-family: 'Oswald', sans-serif;
font-weight: 200;
}

.home_content h1 {
 margin-bottom: 30px;
 font-family: 'Oswald', sans-serif;
 font-weight: 700;
 font-size: 70px;
}

.container {
  margin-top: 20px;
  width: 85%;
}

p {
  font-weight: lighter;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}

h3 {
  margin-bottom: 35px;
}


// .index-form {
//   font-size: 18px;
// }

// .select_tag {
//   width: 170px;
//   height: 30px;
//   border: 1px solid darkgrey;
//   margin: 20px 25px;
// }

// .index-form label {
//   font-weight: lighter;
// }

.box-shadow {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.index-form {
  border-radius: 5px;
}


.show-container {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.show-description {
  flex: 1 1 40%;
  margin-right: 23px;
  background-color: #f7f2f2;
}

.show-image {
  flex: 1 1 60%;
  background-size: cover;
  height: 80vh;
  background-position: center;
}

.show-icon {
  position: absolute;
  right: 45px;
  top: 27px;
  font-size: 23px;
  color: #FFFFFF;
}

.quote {
  height: 300px;
}

.quote p {
  line-height: 300px;
  font-size: 35px;
  font-family: 'Oswald', sans-serif;

}

.selection-form {
  background: rgba(0, 0, 0, 0);
  border: 1px solid white;
}

.booked-place {
  color: #ffa826;
}

.booking-description {
  margin-top: 50px;
}

.booking-description h4 {
  font-weight: lighter;
}

.booking-buttons {
  height: 100px;
  line-height: 100px;
}


.bookings {
  // display: flex;
  justify-content: space-around;
}

.btn-dashboard {
  font-size: 15px;
  padding: 8px 12px;
}

.btns-dashboard {
  margin: 11px 0;
}

.index-form {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.selection-form {
  color: black;
  width: 145px;
  height: 30px;
  border-radius: 6px;
  text-align: middle;
  display: inline-block;
  background-color: transparent;
  border-color: transparent;
}

.form {
  margin: 50px 60px 0px 60px;
 }

.enjoy-message {
  font-size: 27px;
  font-style: italic;
}





































