// Specific CSS for your home-page
body {
  color: black;
   font-family: 'Oswald', sans-serif;
  background-color: #F7F7F7;
  text-align: center;
}

.home {
  // background-image: asset-url('homePageImage.jpg');
  color: white;
  display: flex;
  background-image: linear-gradient(45deg, rgba(0,0,5,0.5) 0%, rgba(0,0,5,0.5) 100%), url('homePageImage.jpg');
  height: 100vh;
  background-size: cover;
  flex-direction: column;
  // margin-top: -108px;
}

.home-form {
  display: inline;
  margin: 200px;
}

.home-button {
  margin-top: 20px;
}

.select_tag {
  color: black;
  padding-bottom: 5px;
}

.home-btn {
  color: black
}

.home_content {
position: absolute;
top: 15%;
right: 20%;
left: 20%;
align-items: center;
}

.home_content p {
margin-bottom: 40px;
font-family: 'Oswald', sans-serif;
  font-weight: 200;
}

.home_content h1 {
 margin-bottom: 30px;
 font-family: 'Oswald', sans-serif;
 font-weight: 600;
 font-size: 70px;
}

.container {
  margin-top: 20px;
}

p {
  font-weight: lighter;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;

}

.show-container {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  position: relative;
}

.show-description {
  flex: 1 1 40%;
  margin-right: 23px;
  background-color: #f7f2f2;
}

.show-image {
 flex: 1 1 60%;
 background-size: cover;
 height: 70vh;
}

.show-icon {
  position: absolute;
  right: 45px;
  top: 27px;
  font-size: 23px;
  color: #FFFFFF;
}

.quote {
  height: 300px;
}

.quote p {
  line-height: 300px;
  font-size: 35px;
  font-family: 'Oswald', sans-serif;

}

.selection-form {
  background: rgba(0, 0, 0, 0);
  border: 1px solid white;
}

.booked-place {
  color: #FFA826;
}

.booking-description {
  margin-top: 50px;
}

.booking-buttons {
  height: 260px;
  line-height: 100px;
}


.bookings {
  display: flex;
  justify-content: space-around;
}

.btn-dashboard {
  font-size: 15px;
  padding: 8px 12px;
}

.btns-dashboard {
  margin: 11px 0;
}

.index-form .select_tag {
  display: inline-block;
}

.form {

  margin: 50px 60px 0px 60px;
 }









































