<div class="home">
  <%= render 'shared/navbar' %>
  <div class ="hover">
  <%= cl_image_tag("homePageImage", class: "img-background") %>
  </div>
    <div class="container">
      <div class="home_content">
        <h1 id="home-header">Find a place with Me&Me</h1>
        <p id="home-paragraph">Are you tired of high buildings? Are you tired of daily routines? Are you tired of technologies? Perfect! Here let us help you to have some peace in a very remoted place.</p>
        <div>
          <%= link_to 'Leave me alone', places_path, class: 'btn-ghost home-button' %>
      </div>
    </div>
  </div>
</div>
