<div class="container">
  <div class="dashboard-title">
    <h2>All your bookings</h2>
  </div>
    <div class="bookings">
      <% @bookings.each do |booking| %>
        <%= render 'shared/booking-card', booking: booking %>
      <% end %>
    </div>
</div>

