.card-booking {
  overflow: hidden;
  height: 350px;
  background: #1b1b1b;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 900px;
  margin-top: 20px;
  color: white;
  margin: 10px;
  // flex: 0 0 auto;
}

.card-booking img {
  height: 100%;
  width: 450px;
  object-fit: cover;
}

.card-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-booking p {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-booking .card-booking-infos {
  padding: 24px;
}

.card-booking-buttons {
  text-align: right;
}

// @media(max-width: 720px) {
//   .grid {
//     /* re-define your grid for mobile and tablet */
//   }
// }
