  .btn-ghost {
    color: #ffa826;
    border: 1px solid #ffa826;
    padding: 9px 15px;
    border-radius: 6px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;

  }
  .btn-ghost:hover {
      color: #FFFFFF;
      background-color: #ffa826;
      font-weight: 400;
      -webkit-transition: background-color 0.02s;
      text-decoration: none;
  }
  .btn-ghost:active {
      background-color: rgba(255, 168, 38, 0.92);
      border: 1px solid #ffa826;
      padding: 9px 15px;
      border-radius: 6px;
      font-weight: 400;
      font-family: 'Oswald', sans-serif;
      color: white;
  }
  .btn-book {
    margin-top: 20px;
    background-color: transparent;
  }
  .btn-search {
    margin-top: 5px;
    background-color: transparent;
  }

  .btn-primary {
    color: #FFFFFF;
    border: 1px solid #ffa826;
    background-color: #ffa826;
    font-weight: 400;
    padding: 9px 15px;
    border-radius: 6px;
    font-family: 'Oswald', sans-serif;
  }

  .btn-primary:hover {
      color: #ffa826;
      background-color: transparent;
      -webkit-transition: background-color 0.02s;
      text-decoration: none;
      border: 1px solid #ffa826;
    }

  .btn-primary:active {
    color: #FFFFFF;
    border: 1px solid #ffa826 !important;
    background-color: #ffa826 !important;
     -webkit-transition: background-color 0.02s;
    font-weight: 400;
    padding: 9px 15px;
    border-radius: 6px;
    font-family: 'Oswald', sans-serif;
    }

  .btn-primary:focus {
    color: #FFFFFF;
    border: 1px solid #ffa826 !important;
    background-color: #ffa826 !important;
     -webkit-transition: background-color 0.02s;
    font-weight: 400;
    padding: 9px 15px;
    border-radius: 6px;
    font-family: 'Oswald', sans-serif;
    }


  .btn-opacity {
    opacity: 0.6;
    &:hover {
    opacity: 1;
    background-color: transparent;
    color: #ffa826;
    border: 1px solid #ffa826;
    }
  }

  .btn-opacity:active {
    opacity: 0.6;
  }

  .btn-opacity:focus {
    opacity: 0.6;
  }

  .home-button {
    padding: 15px 47px;
    font-size: 32px;

  }
