.book-button {
  position: absolute;
  right: 38px;
  top: 15px;
  color: #FFFFFF;
}

.btn-primary {
  background-color: #FFA826 !important;
  padding: 5px 40px;
  border-radius: 6px;
  border: none;
}
