  .btn-ghost {
    color: #363732;
    border: 1px solid #363732;
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: lighter;
    transition: opacity 0.3s ease;
    font-family: 'Oswald', sans-serif;
    &:hover {
      color: #FFFFFF;
      background-color: #363732 !important;
      opacity: 1;
      text-decoration: none;
      font-weight: lighter;
      -webkit-transition: background-color 0.2s;
    }
  }

  .btn-book {
    margin-top: 20px;
  }
