<div class="show-container">
  <div class="show-description text-center">
    <h3><%= @place.name %></h3>
    <p><%= @place.level_of_remoteness %></p>
    <p>description of the place</p>
  </div>
  <div class="show-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @place.photo%> ) ">
  </div>
</div>
